<section class="restaurants">
  <h1>Restaurants</h1>

  <% @search_results.each do |restaurant| %>
    <div>
      <%= link_to image_tag("#{restaurant.image}"),  restaurant_path(restaurant) %>
      <h3><%= restaurant.name %></h3>
      <p><%= restaurant.city %></p>
      <p><%= restaurant.cuisine %></p>
    </div>

  <% end %>
</section>
