/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, main{
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 200%;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding: 30px 10px 0 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #fc318c;
}

h2 {
  font-size: 150%;
  word-spacing: 1.5px;
  letter-spacing: 1px;
  padding: 20px 8px 0 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #fc318c;
}

input[type="submit"] {
  color: #fc318c;
}

.field,
.actions {
  display: inline-block;
  padding: 0 4px;
}

/*Header*/
header {
  background: white;
}

header img {
  height: 100px;
  width: auto;
  padding: 5px;
}

nav {
  display: block;
  float: right;
  margin-top: 30px;
}

nav li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 90%;
  padding: 5px;
}

/*Search*/
.search {
  margin-top: -35px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(food.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

/*All Restaurants*/
.restaurants img {
  height: 300px;
  overflow: hidden;
}

.restaurants div {
  display: inline-block;
}

/*
main {
  border: 1px solid black;
  background: lightgrey;
}*/


footer {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  background: #fc318c;
  position: relative;
  color: white;
}
